<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<div class="container">
<h2>Database Results</h2>

<ul>
    <% results.forEach(function(r) { %>
        <li>ID -- > <%= r.id %></li>
        <li>BLOG TITLE -- > <%= r.blog_title %></li>
        <li>AUTHOR NAME -- > <%= r.author_name %></li>
        <li>DESCRIPTION -- > <%= r.description %></li>
        <li>CONTENT -- > <%= r.content %></li>
        <li>IMG SRC -- > <img src="<%- r.img_src %>" alt="nothing" /></li>
        <li><%= r.upvotes %></li>
        <li>CREATED AT -- > <%= r.created_at %></li>

    <% }); %>
</ul>

</div>

</body>
</html>
