<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<% include ../partials/login.ejs %>

    <div class="cover-photo" style="background: url('/assets/rockworthy_main.png') center center; background-size: contain; background-repeat: no-repeat; background-color: #ffffff;">
        <div class="cover-text-no-background">
            <h3 class="display-4">Venues</h3>
            <br />
            <% if (userAuthenticated) { %>
                <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
                    <i class="fa fa-sign-in" style="padding-right: 15px;"></i>Login
                </a>
            <% } else { %>
                <a href="/logout" class="btn btn-primary" style="color:#ffffff;">
                    <i class="fa fa-sign-out" style="padding-right: 15px;"></i>Logout <%= user.displayName %>
                </a>
            <% }; %>
        </div>
    </div>

    <div class="container-fluid">
            <br />
            <div class="row">
                <div class="col-1 hidden-md-down"></div>
                <div class="col-12 col-md-10">
                    <table class="table table-sm table-hover" style="background-color: #ffffff;">
                        <thead style="color: #ffffff;">
                        <tr style="background-color:#ffc107 !important;">
                            <th>#</th>
                            <th></th>
                            <th>Name</th>
                            <th>Category</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% venues.forEach(function(venue) { %>
                        <tr>
                            <th scope="row"></th>
                            <td><img src="<%- venue.picture.data.url %>" style="height:50px; width:50px;"></td>
                            <td><a href="/venue/<%- venue.id %>/page/"><%- venue.name %></a></td>
                            <td><%- venue.category %></td>
                        </tr>
                        <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

<% include ../partials/scripts.ejs %>
</body>

</html>